<template>
 <div id="app">
<br><br><div align="center" class="title-row" style="font-size:16pt;width:100%;font-weight:bold;">LONDON CITY</div><br><br>
 <div id="map" ref="mapElement" style="height:400px;"></div>
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
  <div class="title-row" style="visibility:hidden;">
    <p>Set the chart title here:</p>
    <input type="text" v-model="title">
  </div>
  <highcharts :options="chartOptions"></highcharts>
</div> 
</template>
<script>
import Vue from 'vue'
import HighchartsVue from 'highcharts-vue'
import L from 'leaflet'
Vue.use(HighchartsVue)

export default {
  name: "Index",
  mounted() {
    var mymap = L.map(this.$refs['mapElement']).setView([51.505, -0.09], 13);
    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
    maxZoom: 19,
    attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
}).addTo(mymap);
    // etc.
  },
  data() {
    return {
      chartOptions: {
        chart: {
          type: 'spline'
        },
        title: {
          text: 'London Population Stat <br> (in millions)'
        },
        xAxis: [{
          title: {text:'Year'},
          categories: [2014,2015,2016,2017,2018,2019,2022,2023]
        }],
        yAxis: [{title:{text:'Population'}}],
        series:[{ 
           name: 'Population in London City',
          data: [8.5, 9.3, 10.5, 11.3, 12.5, 13.3, 14.5, 15]
        }],
      },
      title: ''
    }
  },
  watch: {
    title(newValue) {
      if (newValue === '') {
        this.chartOptions.title.text = 'Entire title'
      } else {
        this.chartOptions.title.text = newValue
      }

    }
  }
}
</script>

